
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.list{
	list-style: none;
	padding-left: 10px;
}

.list li{
	float: left;
	margin-left: 5px;
}

.list li a{
	color: #333;
	font-size: 14pt;
	text-decoration: none;
}

.list li a.btn{
	border: 1px solid #333;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 6px;
}

.list li a.selected{
	color: #fff;
	background: #333;
}