<div>
  <h1>
    Zonky REST Example
  </h1>
</div>

<h2>Available Ratings:</h2>
<div>
  <ul class="list clearfix">
    <li *ngFor="let rating of ratingList; let i = index">
      <a
        (click)="chooseRating(rating)"
        href="javascript:;"
        class="btn"
        [ngClass]="{ selected: rating == currentRating }"
        >{{ rating }}</a
      >
    </li>
  </ul>
</div>

<div>
  <span>Average loan value: </span>
  <strong *ngIf="!currentRating">Choose Rating please</strong>
  <strong *ngIf="currentRating && averageLoanValue"
    >{{ averageLoanValue | number }},-</strong
  >
</div>
